@model SystemWypozyczalniGier.Tables.Game

@{
    ViewData["Title"] = "Create";
}

<head>
    <link rel="stylesheet" href="~/css/games-style.css" />
</head>

<h1>Dodaj nową grę</h1>

<hr />
<form asp-action="Create" method="post" enctype="multipart/form-data">
    <div class="form-table">
        <div class="form-column">

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Title" class="control-label">Tytuł</label>
                <input asp-for="Title" class="form-control" placeholder="Podaj tytuł, np. Tetris..." />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PublisherId" class="control-label">Wydawca</label>
                <select asp-for="PublisherId" class="form-control" asp-items="ViewBag.PublisherId"></select>
            </div>

            <div class="form-group">
                <label asp-for="Description" class="control-label">Opis</label>
                <textarea rows="4" asp-for="Description" class="form-control"
                    placeholder="Podaj opis, np. Epicka gra..."></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label">Cena</label>
                <input asp-for="Price" class="form-control" placeholder="Podaj cenę, np. 19.99..." />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="QuantityInStock" class="control-label">Liczba dostępnych sztuk</label>
                <input asp-for="QuantityInStock" class="form-control" placeholder="Podaj liczbę, np. 10" />
                <span asp-validation-for="QuantityInStock" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MaxQuantity" class="control-label">Maksymalna liczba sztuk</label>
                <input asp-for="MaxQuantity" class="form-control" placeholder="Podaj liczbę, np. 10" />
                <span asp-validation-for="MaxQuantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Accessibility" class="control-label">Dostępność</label>
                <select asp-for="Accessibility"
                    asp-items="@SystemWypozyczalniGier.Helpers.EnumerationsHelper.AccessibilitiesSelectItems"
                    class="form-control"></select>
                <span asp-validation-for="Accessibility" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Discount" class="control-label">Przecena</label>
                <input asp-for="Discount" class="form-control"
                    placeholder="Podaj liczbę z przedziału od 0.0 do 1.0, np. 0.15" />
                <span asp-validation-for="Discount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pegi" class="control-label">PEGI</label>
                <select asp-for="Pegi" asp-items="@SystemWypozyczalniGier.Helpers.EnumerationsHelper.PegiSelectItems"
                    class="form-control"></select>
                <span asp-validation-for="Pegi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Utwórz" class="btn btn-primary" />
            </div>

        </div>
        @Html.HiddenFor(model => model.MainPhotoName, new { Value = "defaultMainPhotoName" })
        @Html.HiddenFor(model => model.Photo1Name, new { Value = "defaultPhoto1Name" })
        <div class="form-column">
            <label for="photo">Zdjęcie główne</label>
            <div class="form-group">
                <div class="main-div-parent">
                    <div class="photo-placeholder photo-big main-div">
                        <img src="~/images/add_photo.png" alt="Placeholder Image">
                    </div>
                    <input type="file" name="mainPhoto" id="main-photo-input" style="display: none;"
                        accept=".jpg, .jpeg, .png, .svg, .gif" onchange="updateFileInput(this)" required/>
                </div>
                <small id="main-file-label">Wybierz zdjęcie do przesłania.</small>
            </div>
            <label for="photo">Miniaturki</label>
            <div class="form-group">
                <div class="thumbnails-div">
                    <div class="photo-placeholder photo-small thumbnail-div">
                        <img src="~/images/add_photo.png" alt="Placeholder Image">
                    </div>
                    <input type="file" name="thumbnailPhotos" id="thumbnail-photo-input" style="display: none;"
                        accept=".jpg, .jpeg, .png, .svg, .gif" onchange="updateThumbnails(this)" multiple required />
                </div>
                <small id="thumbnails-file-label">Wybierz od jednej do czterech miniaturek</small>
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Powrót</a>
</div>

 <script src="~/js/Games/Create.js"></script>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
