/* General */
.main-layout {
    display: flex;
    flex-flow: row;
    gap: 35px;
    margin: 0 auto;
    width: fit-content;
}

/* Images Section */
div.images-section {
    display: flex;
    flex-flow: column;
    gap: 8px;
    width: 345px;
    height: 513px;
}
div.images-section div.row {
    display: flex;
    flex-flow: row;
    gap: 8px;
    padding-left: 12px;
    padding-right: 12px;
}
.main-image {
    width: 344px;
    height: 460px;
    padding: 0px;
    object-fit: cover;
    border-radius: 5px;
}
.mini-image {
    width: 80px;
    height: 45px;
    padding: 0px;
    object-fit: cover;
    cursor: pointer;
    border-radius: 5px;
}

/* Game Section */
div.game-section {
    display: flex;
    flex-flow: column;
    gap: 35px;
}
div.top-game-section {
    display: flex;
    flex-flow: row;
    gap: 35px;
    width: fit-content;
}
div.bottom-game-section {
    width: 100%;
}
div.info {
    height: 180px;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
}
div.info div.row {
    display: flex;
    flex-flow: row;
    gap: 8px;
    padding-left: 12px;
    padding-right: 12px;
}
a.reviews-link {
    text-decoration: underline;
    font-weight: bold;
}
.star {
    width: 45px;
    height: 45px;
    padding: 0px;
}

.buy-tile {
    width: 240px;
    height: 180px;
    display: flex;
    flex-flow: column;
    padding: 15px;
}
.buy-tile-discounted-price {
    margin: 0px;
    font-size: 16px;
    text-decoration: line-through;
}
.price-container {
    display: flex;
    flex-flow: row;
    align-items: end;
    gap: 8px;
    height: fit-content;
    margin: 0px 0px 10px 0px;
}
.price-container div{
    display: flex;
    flex-flow: column;
    align-items: center;
    height: fit-content;
}
.small-font-button {
    font-size: 12px
}

/*Bottom Game Section*/
div.bottom-game-section p {
    margin-top: 10px;
    margin-bottom: 0px;
}
